<header>
  <div class="head-logo">
    <h1>TweetApp</h1>
  </div>
  <div class="head-lists">
    <ul class="lists">
      <li class="list">新規登録</li>
      <li class="list">ログイン</li>
    </ul>
  </div>
</header>

<div class="main-warapper">
  <div class="main-top">
    <div class="top-title">
      <h2>好きなことを好きな人と</h2>
    </div>
  </div>
</div>